{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:vue/vue3-essential",
    "plugin:vue/vue3-strongly-recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "rules": {
    /*
     * ESLint core rules
     * these are mostly the same as our Prettier config settings
     */
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "brace-style": [2],
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "never"],
    "no-unused-vars": ["warn"]
  }
}
