@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: var(--van-background);
  color: var(--van-text-color);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--van-gradient-background-overlay);
  height: 100%;
  overflow: auto;
  
}

/* ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
} */